body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    height: 100vh;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 6px;
    background-color: hsl(210, 40%, 32%);
    color: aliceblue;
    font-family: "Courier";
}

#title {
    font-size: 20px;
    font-weight: 600;
}

#main {
    display: flex;
    background-color: #1f2937;
    flex: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#output {
    margin: 16px 0 0 0;
    color: aliceblue;
}